<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
        <pipelines>
            <renderField>
                <processor type="Sitecore.Support.XA.Feature.ContentTokens.Pipelines.RenderField.RenderContentToken, Sitecore.Support.360996" patch:instead="*[@type='Sitecore.XA.Feature.ContentTokens.Pipelines.RenderField.RenderContentToken, Sitecore.XA.Feature.ContentTokens']" />
            </renderField>
        </pipelines>
    </sitecore>
</configuration>